* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: 3px solid var(--color-purple);
  outline-offset: 2px;
}

html,
body {
  font-size: 1rem;
  font-weight: normal;

  font-family: "Baloo 2", sans-serif;
  line-height: 160%;

  background-color: var(--color-purple);
  color: var(--color-white);
}

body {
  height: 100vh;
  width: 100%;
}

button {
  cursor: pointer;
}

button,
a,
input {
  background: none;
  border: none;

  color: var(--color-black);
  text-decoration: none;

  font-size: 1rem;
  font-weight: normal;

  font-family: "Baloo 2", sans-serif;
  line-height: 160%;
}

i {
  line-height: 0%;
}

section {
  padding-top: 3.5rem;
}

.section-title {
  text-align: center;
  h1,
  h2 {
    font-weight: bold;
    font-size: 1.75rem;
  }

  p {
    color: var(--color-muted);
    font-size: 1.125rem;
  }
}

.btn {
  border: none;
  background: none;

  width: 250px;
  padding: 0.25rem 0;

  background-color: var(--color-green);
  border-radius: 0.5rem;

  font-weight: bold;
  transition: all 0.2s;

  div {
    position: relative;
    z-index: 1;
  }

  &:hover {
    background-color: var(--color-green-hover);
  }
}

.btn-secondary {
  border: none;
  background: none;

  color: var(--color-white);

  width: 250px;
  padding: 0.2rem 0;

  border: 2px solid var(--color-white);
  border-radius: 0.5rem;

  font-weight: bold;

  position: relative;
  transition: all 1s;

  &::before {
    content: "";
    border-radius: 0.2rem;

    display: block;
    position: absolute;

    top: 0;
    left: 0;

    height: 100%;
    width: 0;

    transition: all 0.3s;
  }

  div {
    position: relative;
    z-index: 1;
  }

  &:hover {
    color: var(--color-black);
  }

  &:hover::before {
    width: 100%;
    background-color: var(--color-white);
  }
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  width: fit-content;
  margin: 1.5rem auto;
}

.btn-gradient {
  background-image: linear-gradient(
    to right,
    var(--color-white),
    var(--color-green)
  );

  padding-block: 0.15rem;

  width: 160px;
  position: relative;

  &::before {
    content: "";
    border-radius: 0.5rem;

    display: block;
    position: absolute;

    top: 0;
    left: 0;

    height: 100%;
    width: 0;

    transition: all 0.4s;
  }

  &:hover::before {
    width: 100%;
    background-color: var(--color-amber);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
