:root {
  --color-amber: #e8b730;
  --color-purple: #341147;
  --color-green: #1bb73c;
  --color-green-hover: #228638;

  --color-white: #efedf7;
  --color-black: #1e1e1e;

  --color-muted: #c7c3d4;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;

  z-index: 1;

  padding-inline: 1.5rem;
  padding-block: 0.85rem;

  color: var(--color-purple);

  & > button {
    font-size: 1.5rem;
    transition: all 0.2s;

    height: 2rem;
    border-radius: 0.5rem;
  }

  & > div.active {
    transform: rotate(-90deg);
  }
}

.hero {
  background-image: linear-gradient(var(--color-white), var(--color-amber) 80%);

  width: 100%;

  padding-inline: 1.5rem;
  padding-block: 0.75rem;

  height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero .carrousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: 100%;

  img {
    filter: drop-shadow(12px 8px 1px rgba(0, 0, 0, 0.199));

    max-width: 100%;
    width: 300px;
  }

  button {
    color: var(--color-white);
    background-color: #1e1e1e4b;

    border-radius: 0.25rem;
    padding: 0.5rem;
    padding-bottom: 0.35rem;

    transition: all 0.1s;
  }

  button:hover {
    background-color: #1e1e1e9c;
  }
}

.hero .nav-carrousel {
  padding-top: 2rem;

  display: flex;
  gap: 0.5rem;

  margin: 0 auto;
  width: fit-content;

  div {
    border: 2px solid var(--color-purple);

    width: 1.25rem;
    height: 1.25rem;

    border-radius: 999999999px;
  }

  .active {
    background-color: var(--color-purple);
  }
}

.home {
  .skills-wrapper {
    width: fit-content;
    margin: 0 auto;
  }

  .skills-container {
    padding-top: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    width: fit-content;
  }

  .skill {
    border-radius: 9999999px;
    padding: 2rem;

    border: 2px solid var(--color-green);

    width: 110px;
    height: 110px;
    position: relative;

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    span {
      font-weight: bold;
      font-size: 1.5rem;

      display: block;
    }
  }

  .skill.emphasis {
    background-color: var(--color-green);

    p {
      color: var(--color-black);
    }
  }
}

.products {
  display: flex;
  flex-direction: column;
}

.products .product {
  display: flex;
  flex-direction: column;

  margin: 2rem;

  align-items: center;
  gap: 1rem;

  h3 {
    font-weight: bold;
    font-size: 1.125rem;
    margin-bottom: -0.85rem;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    img {
      height: 210px;
      max-width: 100%;
    }

    button {
      color: var(--color-black);
      background-color: #e8b730c5;

      border-radius: 0.25rem;
      padding: 0.5rem;
      padding-bottom: 0.35rem;

      transition: all 0.1s;
    }

    button:hover {
      background-color: #e8b73088;
    }
  }

  button.go-to {
    background-image: linear-gradient(
      to right,
      var(--color-white),
      var(--color-green)
    );
    padding-block: 0.15rem;
    width: 160px;
  }

  span {
    margin: 0.25rem auto;
    width: fit-content;

    display: block;
  }
}
