:root {
  --color-amber: #e8b730;
  --color-purple: #341147;
  --color-green: #1bb73c;
  --color-green-hover: #228638;

  --color-white: #efedf7;
  --color-black: #1e1e1e;

  --color-muted: #c7c3d4;
}

.hero {
  background-image: linear-gradient(var(--color-white), var(--color-purple));

  width: 100%;

  padding-inline: 1.5rem;
  padding-block: 0.75rem;

  height: 75vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero .carrousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: 100%;

  img {
    position: absolute;
    right: 100vw;

    filter: drop-shadow(12px 8px 1px rgba(0, 0, 0, 0.199));

    max-width: 100%;
    width: 300px;

    transform: translateY(100px);

    opacity: 0;
  }

  img.active {
    position: static;
    transform: translateY(0);

    transition: all 0.5s;
    opacity: 1;
  }

  button {
    color: var(--color-white);
    background-color: #1e1e1e4b;

    border-radius: 0.25rem;
    padding: 0.5rem;
    padding-bottom: 0.35rem;

    transition: all 0.1s;
  }

  button:hover {
    background-color: #1e1e1e9c;
  }
}

.nav-carrousel {
  padding-top: 2rem;

  display: flex;
  gap: 0.5rem;

  margin: 0 auto;
  width: fit-content;

  div {
    border: 2px solid var(--color-amber);

    width: 1.25rem;
    height: 1.25rem;

    border-radius: 999999999px;
  }

  .active {
    background-color: var(--color-amber);
  }
}

.home {
  .skills-wrapper {
    width: fit-content;
    margin: 0 auto;
  }

  .skills-container {
    padding-top: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    width: fit-content;
  }

  .skill {
    border-radius: 9999999px;
    padding: 2rem;

    border: 2px solid var(--color-green);

    width: 110px;
    height: 110px;
    position: relative;

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    span {
      font-weight: bold;
      font-size: 1.5rem;

      display: block;
    }
  }

  .skill.emphasis {
    background-color: var(--color-green);

    p {
      color: var(--color-black);
    }
  }
}

.products {
  display: flex;
  flex-direction: column;

  aside {
    color: var(--color-black);
    background: var(--color-muted);

    margin-top: 2.5rem;
  }

  aside div {
    position: relative;
    max-width: 1064px;
    margin: 0 auto;
  }
}

.products .product {
  display: flex;
  flex-direction: column;

  margin: 2rem;

  align-items: center;
  gap: 1rem;

  h3 {
    font-weight: bold;
    font-size: 1.125rem;
    margin-bottom: -0.85rem;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    img {
      max-width: 100%;
    }

    button {
      color: var(--color-white);
      background-color: #00000081;

      border-radius: 0.25rem;
      padding: 0.25rem;
      padding-bottom: 0.1rem;

      transition: all 0.1s;
    }

    button:hover {
      background-color: #e8b73088;
    }
  }

  span {
    margin: 0.25rem auto;
    width: fit-content;

    display: block;
  }

  .nav-carrousel {
    padding-top: 0;
  }
}

.products .call-action {
  background-color: var(--color-amber);
  color: var(--color-black);

  border: 2px solid var(--color-purple);
  border-radius: 0.5rem;

  padding-block: 1rem;
  padding-inline: 1.5rem;

  margin-inline: auto 0.25rem;
  max-width: 432px;

  display: flex;
  align-items: center;
  gap: 0.75rem;

  position: absolute;
  z-index: 1;
  right: 0;

  p {
    font-weight: bold;
  }

  & > div {
    display: flex;
    gap: 1rem;
  }

  & > div a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;

    border: 2px solid var(--color-black);
    border-radius: 0.5rem;

    padding-inline: 1rem;
    transition: all 0.2s;

    &:hover {
      background-color: var(--color-black);
      color: var(--color-white);
    }
  }
}

.products .complements {
  margin-top: -2rem;

  padding: 4.5rem 1rem 1.5rem;
  position: relative;

  h4 {
    font-size: 1.125rem;
  }

  p span {
    font-weight: bold;
  }
}

.combinations .section-title {
  padding-bottom: 2rem;
}

.combinations .comb {
  display: flex;
  flex-direction: column;

  align-items: center;

  max-width: fit-content;
  margin: 0 auto;

  border-radius: 0.5rem;
  padding: 1rem;

  button {
    width: 220px;
    max-width: 100%;
  }

  & > div {
    margin-top: 0.5rem;
    span {
      display: block;
      width: 100%;

      text-align: right;
    }
  }
}

.combs-carrousel {
  padding-inline: 2rem;

  display: flex;
  gap: 3rem;

  overflow-x: auto;
}
.combs-carrousel::-webkit-scrollbar {
  display: none;
}

.comb.comb-emphasys {
  box-shadow: 2px 2px 6px #0000004f;
}
